<div class="container">
	<h1>Capture New Lead</h1>

    <form action="/lead/add" method="post">
        First name:<br>
        <input type="text" name="leadData[firstName]"><br>
        Last name:<br>
        <input type="text" name="leadData[lastName]"><br><br>
        Email:<br>
        <input type="text" name="leadData[email]"><br><br>
        Postal code:<br>
        <input type="text" name="leadData[postalCode]"><br><br>
        Opt in to mailing list:<br>
        <select name="leadData[signUp]">
            <option value="yes">yes</option>
            <option value="">no</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>

	<!--
	Here we expect you to create a form that will submit
	to the relevant route as detailed in the controller.

	In addition, we expect to find the following fields;
	- "First Name" as firstName,
	- "Last Name" as lastName,
	- "Email" as email,
	- "Post Code" as postalCode,
	- "Opt in to mailing list" as signUp.

	These, when submitted, should be sent as part of a 'leadData' array.

	All of these values are strings, except for signUp, which can have one
	of the following values; "yes" or "".

	Included in this view is also the Bootstrap CSS framework, for you
	to style the form in whatever way you see fit.
	-->

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
