<div class="container">
	<h1>Capture New Lead</h1>

	<?php if (isset($saved)) : ?>

		<div class="alert alert-success">Lead Saved</div>

	<?php endif; ?>

	<h3>THANKS FOR REGISTERING :)</h3>

<!--	<pre>--><?php //var_dump($lead);?><!--</pre>-->

</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
